.contener {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  font-family: $font-txt;
  font-size: 16px;
  color: #000;
  min-width: 375px;
  width: 100%;
  overflow: overlay;
}
