@media screen and (min-width: 960px)   {
    .localisation{
        height: 50px;
    }
    .localisation i{
        padding: 0%;
        width: 5%;
        background-color: #eaeaea;

    }
    .presentation{
        background-color: #f5edff;
        &__content1{
            font-size: 40px;
            line-height: 46px;
        }
    }
    .functioning__title{
        padding-left: 17em;
    }
    .functioning__contener{
        flex-direction: row;
        justify-content: center;
    }
    .functioning__contener--item{
        width: 335px;
    }
    .icon-svg{
        left: -1.5em;
    }
    .restaurant{
        position: relative;
        left: 6em;
        &__title{
            padding-left: 4.5em;
        }
    }
   .card_contener{
    flex-direction: row;
    justify-content: right;
   }
    

footer{
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    height: 115px;
    position: relative;
    & h2{
        position: absolute;
        right: 16em;
        top:1.5em;
    }
    

}
}