@media screen and (min-width: 1225px) {
  .localisation {
    height: 50px;
  }

  .localisation i {
    padding: 0%;
    width: 5%;
    background-color: #eaeaea;
  }

  .presentation {
    background-color: #e3e1e1;

    &__content1 {
      font-size: 40px;
      line-height: 46px;
    }
  }

  .btn {
    &:hover {
      color: #9356dc;
      background: #ffff;
    }
  }

  .functioning__title {
    width: auto;
    position: relative;
    right: 20em;
  }

  .functioning__contener {
    flex-direction: row;
    max-width: 90%;
    min-width: 60%;
    width: 80%;

    &--item {
      min-width: 30%;
      max-width: 40%;

      &:hover {
        background-color: rgba(245, 237, 255, 1);
      }
    }
  }

  .icon-svg {
    left: -1.5em;
  }

  .restaurant {
    background-color: #e3e1e1;
    position: relative;
    padding-left: 6em;

    &__title {
      padding-left: 4.5em;
    }
  }

  .card_contener {
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 6em;
  }

  .card__bottom-icon {
    &::after {
      opacity: 0;
      transition: all 200ms;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  footer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 115px;
    padding-left: 0%;

    & h2 {
      padding-top: 0%;
    }

    & :nth-child(1) {
      order: 5;
    }
  }

  /*Pour les pages restaurants*/
  .menu__plats--item {
    text-overflow: "...";

    &:hover::after {
      animation-name: anim_itemplat;
      animation-duration: 2s;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      animation-delay: 1ms;
      animation-direction: normal;
      animation-fill-mode: both;
    }
  }
}