footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #353535;

  padding-bottom: 2em;
  color: white;

  & a {
    color: white;
  }

  & h2 {
    color: white;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    font-family: $font-title;
    padding-top: 1em;
  }
}

.footer__item {
  display: flex;
  align-items: center;

  & i {
    padding-right: 1em;
  }
}