footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5em;
  background-color: #353535;
  padding-bottom: 2em;

  & h2 {
    color: white;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    font-family: $font-title;
    padding-top: 1em;
    padding-left: 1em;
  }
}

.footer__item {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-left: 1em;
  color: white;

  & a {
    color: white;

  }
}

.footer__link {
  display: flex;
  align-items: center;
  padding-left: 1em;
  color: white;

}