.contener_principal {
  min-width: 375px;
  width: 100%;
  background-color: rgb(237, 237, 237);
  display: flex;
  flex-direction: column;
}

.restaurants__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0 1em 0;


  &--icon {
    max-width: 200px;
    padding-left: 2em;
  }

  &--logo {
    width: 162px;
    height: 44px;
    padding-right: 2em;
  }
}



.contener__menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--hero {
    max-width: 100%;
    height: 275px;
  }
}

.heroImg {
  width: 100%;
}

.menu {
  width: 100%;
  max-width: 1055px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  top: -2em;
  background-color: #f7f7f7;
  padding-bottom: 2em;


  &__title {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1em;

    &--title {
      font-size: 28px;
      font-weight: 400;
      font-style: italic;
      font-family: $font-title;
      line-height: 41px;
    }

    &--icon {
      width: 22px;
      height: 21px;
      position: relative;
      transition: all 500ms;

      &:active::after {
        opacity: 1;
      }


      &::after {
        content: url(/public/img/icon_svg/heart_gradient.svg);
        position: absolute;
        left: 0px;
        opacity: 0;
        width: 22px;
        height: 21px;
      }


    }
  }

}



.menu__plats {
  min-width: 80%;
  display: flex;
  flex-direction: column;

  gap: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.menu__plats--title::after {
  content: "";
  width: 20%;
  height: 3px;
  background-color: #99E2D0;
  display: block;
}

/*.menu__plats--underline {
  width: 20%;
  transform: translateX(-140px);
  border: 3px solid #99E2D0;
  margin: 0;


}*/

.menu__plats--item {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  height: 70px;
  background: white;
  border-radius: 25px;

  &_txt {
    display: flex;
    flex-direction: column;
  }

  &_select {


    width: 100px;
    height: 100px;
    background-color: rgb(158, 227, 158);

  }

  & h3 {
    font-size: 18px;
    font-weight: 500;
    font-family: $font-txt;
    text-overflow: ellipsis;
  }

  & span {
    font-size: 15px;
    font-weight: 300;
    font-family: $font-txt;
  }
}



//class entrees, plats, dessert pour faire apparaitre les plats petit à petit//
.entrees {
  opacity: 0;
  animation-name: translate_entrees;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-delay: 0.1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.plats {
  opacity: 0;
  animation-name: translate_plats;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-delay: 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.desserts {
  opacity: 0;
  animation-name: translate_desserts;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-delay: 2s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}