.contener_principal {
  min-width: 375px;
  width: 100%;
  background-color: rgb(237, 237, 237);
  display: flex;
  flex-direction: column;

}

.restaurants__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0 1em 0;


  &--icon {
    max-width: 200px;
    padding-left: 2em;
  }

  &--logo {
    width: 162px;
    height: 44px;
    padding-right: 2em;
  }
}




.contener__menu {
  display: flex;
  flex-direction: column;
  align-items: center;


  &--hero {
    min-width: 100%;
    height: 275px;
    overflow: hidden;
  }
}

.heroImg {
  width: 100%;
}

.div_background {
  min-height: 990px;
  width: 375px;
  background-color: #f7f7f7;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.div_vide2 {
  height: 1055px;
  width: 375px;
  background-color: #f7f7f7;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #f7f7f7;
  position: relative;
  top: -7em;

  &__title {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1em;
  }
}

.menu__title {
  &--title {
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
    font-family: $font-title;
    line-height: 41px;
  }

  &--icon {
    width: 22px;
    height: 21px;
    position: relative;
    transition: all 500ms;

    &::after {
      content: url(/public/img/icon_svg/heart_gradient.svg);
      position: absolute;
      left: 0px;
      opacity: 0;
      width: 22px;
      height: 21px;
    }

    &:active::after {
      opacity: 1;
    }
  }
}

.menu__plats {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 1em;
  padding-bottom: 2em;
}

//ligne sous le titre des differentes sortes de plat//
.menu__plats--title::after {
  content: "";
  width: 20%;
  height: 3px;
  background-color: #99E2D0;
  display: block;
}

.menu__plats--item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;
  height: 70px;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  transition: all 150ms;



  &:active>.menu__plats--item_price::after {

    width: 60px;
    opacity: 1;




  }

  &_txt {
    display: flex;
    flex-direction: column;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    & h3 {
      font-size: 18px;
      font-weight: 500;
      font-family: $font-txt;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    & p {

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 400;
      font-family: $font-txt;
      font-size: 16px;
    }
  }
}



.menu__plats--item_price {
  display: flex;
  align-items: center;
  height: 70px;
  font-size: 15px;
  font-weight: 300;
  font-family: $font-txt;

  right: 2em;
}

//transition pour l'affichage de l'encoche//
.menu__plats--item_price::after {
  content: url(/public/img/icon_svg/encoche.svg);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  height: 70px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #99E2D0;
  opacity: 0;


}






//class entrees, plats, dessert pour faire apparaitre les plats petit à petit//
.entrees_title {
  opacity: 0;
  animation-name: translate_entrees;
  animation-iteration-count: 1;
  animation-duration: 2500ms;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-delay: 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.entrees {
  opacity: 0;
  animation-name: translate_entrees;
  animation-iteration-count: 1;
  animation-duration: 2500ms;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-delay: 1.5s;
  animation-direction: normal;
  animation-fill-mode: forwards;

}

.plats_title {
  opacity: 0;
  animation-name: translate_plats;
  animation-iteration-count: 1;
  animation-duration: 2500ms;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-delay: 2s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.plats {
  opacity: 0;
  animation-name: translate_plats;
  animation-iteration-count: 1;
  animation-duration: 3000ms;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-delay: 2.5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.desserts_title {
  opacity: 0;
  animation-name: translate_desserts;
  animation-iteration-count: 1;
  animation-duration: 2500ms;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-delay: 3s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.desserts {
  opacity: 0;
  animation-name: translate_desserts;
  animation-iteration-count: 1;
  animation-duration: 3000ms;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-delay: 3.5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}