@media screen and (min-width: 768px) and (max-width: 1224px) {
  .contener {
    min-width: 768px;
  }

  .functioning {
    width: 100%;
    align-items: center;

    &__title {
      text-align: center;
    }

    &__contener {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      padding-left: 3em;

      &--item {


        & i {
          padding-right: 1em;
          color: grey;
        }
      }
    }
  }

  .card_contener {
    flex-direction: row;

  }

  footer {
    flex-direction: row;
    padding-top: 1em;

    & :nth-child(1) {
      order: 5;
    }

    & h2 {
      padding-top: 0%;
    }
  }

  /*Pour les pages restaurants*/
  .restaurants__header {
    justify-content: space-around;
  }

  .hero {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .menu {
    width: 60%;
    max-width: 80%;
  }

  .menu__plats {
    align-items: center;

    &--item {
      width: 60%;
      max-width: 350px;

    }
  }

  /*
  .div_vide {
    width: 60%;
    height: 40px;
    bottom: 102px;
    left: 153px;
  }*/
}