@media screen and (min-width: 768px) and (max-width: 1224px) {
  .functioning__contener {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 3em;
  }

  .card_contener {
    flex-direction: row;
  }

  footer {
    flex-direction: column;
    align-items: center;
    padding-top: 1em;

    & h2 {
      padding-top: 0%;
    }
  }

  /*Pour les pages restaurants*/
  .restaurants__header {
    justify-content: space-around;
  }

  .div_background {
    width: 70%;
    min-height: 1000px;
  }

  .menu__plats {


    &--item {
      width: 90%;
      align-items: center;
    }
  }
}