@media screen and (min-width: 768px) and (max-width: 1224px) {
  .functioning__contener {
    max-width: 80%;
    min-width: 50%;
    margin: auto;
    flex-wrap: wrap;

    &--item {
      width: 70%;
      max-width: 80%;
      min-width: 50%;
    }
  }

  footer {
    flex-direction: row;
    padding-top: 1em;

    & :nth-child(1) {
      order: 5;
    }

    & h2 {
      padding-top: 0%;
    }
  }

  /*Pour les pages restaurants*/
}