@charset "UTF-8";
/*Liste des couleurs*/
/*Liste des polices d'écriture*/
body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Roboto";
}

p {
  margin: 0%;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
}

input {
  border: 0;
}
input:focus-visible {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
}

/*style de la police pour les textes*/
@keyframes anim_loader {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(0);
    opacity: 0.3;
  }
}
@keyframes anim_textloader {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease;
  }
  100% {
    transform: rotate(360deg);
    animation-timing-function: ease;
  }
}
@keyframes translate_entrees {
  0% {
    transform: translate(-50px);
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
@keyframes translate_plats {
  0% {
    transform: translate(-50px);
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
@keyframes translate_desserts {
  0% {
    transform: translate(-50px);
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
.contener__loader {
  width: 100%;
  height: 100%;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  opacity: 1;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: anim_loader;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-delay: 3000ms;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.contener__loader--text {
  background-color: lightpink;
  font-family: "Shrikhand";
  font-size: large;
  color: rebeccapurple;
  border: 4mm ridge rebeccapurple;
  padding: 2em;
  border-radius: 50%;
  animation-name: anim_textloader;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-delay: 500ms;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
}
.contener__loader--text-title {
  font-weight: 700;
}

.contener {
  width: 100%;
  min-width: 375px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  font-family: "Roboto";
  font-size: 16px;
  color: #000;
}

header {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.header__logo {
  padding-top: 1em;
  padding-bottom: 1em;
}
.header__logo img {
  width: 162px;
}

.form_localisation {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
}
.form_localisation i {
  width: 10%;
  padding: 1em;
  text-align: center;
}
.form_localisation #localisation {
  background-color: #eaeaea;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
}
.form_localisation #localisation::placeholder {
  color: rgb(53, 53, 53);
}

.presentation {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em 0 2em 0;
  font-family: "Roboto";
}
.presentation__content1 {
  width: 70%;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 28.13px;
}
.presentation__content2 {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  font-family: "Roboto";
  width: 215px;
  height: 3em;
  border: none;
  border-radius: 25px;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, 1, 0, 0);
  cursor: pointer;
  transition: all 50ms;
}
.btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.functioning {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4em;
  background-color: white;
}
.functioning__title {
  width: 90%;
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto";
  padding-top: 2em;
  padding-bottom: 1em;
}
.functioning__contener {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}
.functioning__contener--item {
  display: flex;
  align-items: center;
  background-color: #f7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  width: 320px;
  height: 60px;
  padding: 2px;
  border-radius: 25px;
}
.functioning__contener--item i {
  color: grey;
  padding-right: 1em;
}
.functioning__contener--item:active {
  background-color: rgb(245, 237, 255);
}

.icon-svg {
  position: relative;
  left: -1em;
}

.card {
  width: 340px;
  height: 250px;
  background-color: white;
  border-radius: 20px;
}
.card__img {
  position: relative;
  width: 100%;
  height: 175px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card__img--photo {
  width: 100%;
  height: 170px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card__img--new {
  width: 80px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 250px;
  z-index: 2;
  background-color: #99e2d0;
  color: rgb(0, 135, 102);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  border-radius: 2px;
}
.card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__bottom-title {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  font-family: "Roboto";
  padding-top: 0.5em;
}
.card__bottom-title h2 {
  color: black;
  font-size: 18px;
  font-weight: 700;
}
.card__bottom-title h3 {
  font-size: 17px;
  font-weight: 300;
  font-family: "Roboto";
  color: black;
}
.card__bottom-icon {
  position: relative;
  padding-right: 1em;
  padding-top: 1em;
  cursor: pointer;
  transition: all 50ms;
}
.card__bottom-icon::after {
  content: url(../img/icon_svg/heart_gradient.svg);
  position: absolute;
  left: 0px;
  width: 22px;
  height: 21px;
  opacity: 0;
}
.card__bottom-icon:hover::after {
  opacity: 1;
}

.restaurant {
  display: flex;
  background-color: #f7f7f7;
  flex-direction: column;
  align-items: center;
  padding: 3em 0 3em 0;
}
.restaurant__title {
  width: 90%;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.card_contener {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  flex-wrap: wrap;
  margin-top: 1em;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5em;
  background-color: #353535;
  padding-bottom: 2em;
}
footer h2 {
  color: white;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  font-family: "Shrikhand";
  padding-top: 1em;
  padding-left: 1em;
}

.footer__item {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-left: 1em;
  color: white;
}
.footer__item a {
  color: white;
}

.footer__link {
  display: flex;
  align-items: center;
  padding-left: 1em;
  color: white;
}

.contener_principal {
  min-width: 375px;
  width: 100%;
  background-color: rgb(237, 237, 237);
  display: flex;
  flex-direction: column;
}

.restaurants__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 1em 0 1em 0;
}
.restaurants__header--icon {
  max-width: 200px;
  padding-left: 2em;
}
.restaurants__header--logo {
  width: 162px;
  height: 44px;
  padding-right: 2em;
}

.contener__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contener__menu--hero {
  min-width: 100%;
  height: 275px;
  overflow: hidden;
}

.heroImg {
  width: 100%;
}

.div_background {
  min-height: 990px;
  width: 375px;
  background-color: #f7f7f7;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #f7f7f7;
  position: relative;
  top: -2em;
}
.menu__title {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1em;
}

.menu__title--title {
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
  font-family: "Shrikhand";
  line-height: 41px;
}
.menu__title--icon {
  width: 22px;
  height: 21px;
  position: relative;
  cursor: pointer;
  transition: all 250ms;
}
.menu__title--icon::after {
  content: url(../img/icon_svg/heart_gradient.svg);
  position: absolute;
  left: 0px;
  opacity: 0;
  width: 22px;
  height: 21px;
}
.menu__title--icon:hover::after {
  opacity: 1;
}

.menu__plats {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 1em;
  padding-bottom: 2em;
}

.menu__plats--title::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  display: block;
}

.menu__plats--item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;
  height: 70px;
  background: white;
  border-radius: 25px;
  cursor: pointer;
}
.menu__plats--item:hover > .menu__plats--item_price::after {
  width: 60px;
  opacity: 1;
}
.menu__plats--item_txt {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__plats--item_txt h3 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto";
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__plats--item_txt p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  font-family: "Roboto";
  font-size: 16px;
}

.menu__plats--item_price {
  display: flex;
  align-items: center;
  height: 70px;
  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto";
}

.menu__plats--item_price::after {
  content: url(../img/icon_svg/encoche.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  height: 70px;
  margin-left: 15px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #99E2D0;
  opacity: 0;
  transition: all 500ms;
}

.entrees_title {
  opacity: 0;
  animation-name: translate_entrees;
  animation-iteration-count: 1;
  animation-duration: 2500ms;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-delay: 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.entrees {
  opacity: 0;
  animation-name: translate_entrees;
  animation-iteration-count: 1;
  animation-duration: 2500ms;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-delay: 1.5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.plats_title {
  opacity: 0;
  animation-name: translate_plats;
  animation-iteration-count: 1;
  animation-duration: 2500ms;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-delay: 2s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.plats {
  opacity: 0;
  animation-name: translate_plats;
  animation-iteration-count: 1;
  animation-duration: 3000ms;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-delay: 2.5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.desserts_title {
  opacity: 0;
  animation-name: translate_desserts;
  animation-iteration-count: 1;
  animation-duration: 2500ms;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-delay: 3s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.desserts {
  opacity: 0;
  animation-name: translate_desserts;
  animation-iteration-count: 1;
  animation-duration: 3000ms;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-delay: 3.5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@media screen and (min-width: 1225px) {
  .localisation {
    height: 50px;
    background-color: #eaeaea;
  }
  .localisation i {
    padding: 0%;
    width: 5%;
    background-color: #eaeaea;
  }
  .presentation__content1 {
    font-size: 40px;
    line-height: 46px;
  }
  .functioning__title {
    text-align: left;
    width: 100%;
    padding-left: 27%;
  }
  .functioning__contener {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .functioning__contener--item:hover {
    background-color: rgb(245, 237, 255);
  }
  .icon-svg {
    left: -0.5em;
  }
  .restaurant {
    position: relative;
    padding-left: 6em;
  }
  .restaurant__title {
    text-align: left;
    width: 100%;
    padding-left: 8em;
  }
  .card_contener {
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 15%;
  }
  footer {
    z-index: 2;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 115px;
    padding-left: 0%;
  }
  footer h2 {
    padding-top: 0%;
  }
  footer :nth-child(1) {
    order: 5;
  }
  /*Pour les pages restaurants*/
  .restaurants__header {
    justify-content: space-evenly;
    padding-top: 1em;
  }
  .contener__menu {
    width: 100%;
    background-color: white;
  }
  .contener__menu--hero {
    width: 100%;
    height: 445px;
    overflow: hidden;
    position: relative;
  }
  .heroImg {
    min-width: 100%;
    object-fit: fill;
    position: absolute;
    top: -20em;
  }
  .div_background {
    min-height: 1105px;
    width: 1055px;
    background-color: rgb(246, 246, 246);
  }
  .menu {
    background-color: rgb(246, 246, 246);
    padding-top: 2em;
    top: -4em;
  }
  .menu__title {
    justify-content: center;
  }
  .menu__title--title {
    padding-right: 1em;
  }
  .menu__title--icon:hover::after {
    opacity: 1;
  }
  .menu__plats {
    align-items: center;
  }
  .menu__plats--item {
    width: 80%;
  }
  .menu__plats--item:hover > .menu__plats--item_price::after {
    width: 60px;
    opacity: 1;
  }
  .menu__plats--title {
    width: 100%;
    text-align: left;
    padding-left: 8em;
  }
  .btn {
    margin-top: 1em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1224px) {
  .functioning__contener {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 3em;
  }
  .card_contener {
    flex-direction: row;
  }
  footer {
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
  }
  footer h2 {
    padding-top: 0%;
  }
  /*Pour les pages restaurants*/
  .restaurants__header {
    justify-content: space-around;
  }
  .div_background {
    width: 70%;
    min-height: 1000px;
  }
  .menu__plats--item {
    width: 90%;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
