@charset "UTF-8";
/*Liste des couleurs*/
/*Liste des polices d'écriture*/
/*Regle pour le responsive*/
body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

p {
  margin: 0%;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}
a :hover {
  color: white;
}

.contener {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  font-family: "Roboto";
  font-size: 16px;
  color: #000;
}

header {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.header__logo {
  padding-top: 1em;
}

.localisation {
  min-width: 100%;
  padding-right: 5em;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.localisation i {
  width: 10%;
  padding: 1em;
  text-align: center;
}
.localisation p {
  font-weight: 500;
  line-height: 19px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 215px;
  height: 3em;
  border: none;
  border-radius: 25px;
  background-color: white;
  color: #9356DC;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, 1, 0, 0);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.btn:hover {
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, 1, 0, 0);
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}

.card {
  width: 340px;
  height: 250px;
  background-color: white;
  border-radius: 20px;
}
.card__img {
  width: 100%;
  height: 175px;
  object-fit: fill;
  border-radius: 20px 20px 0 0;
}
.card__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.card__bottom-title {
  display: flex;
  flex-direction: column;
}
.card__bottom h2 {
  font-size: 18px;
  font-weight: 700;
  padding-top: 0.5em;
  font-family: "Roboto";
  padding-left: 1em;
}
.card__bottom h3 {
  font-size: 17px;
  font-weight: 300;
  font-family: "Roboto";
  padding-left: 1em;
}
.card__bottom-icon1 {
  color: #9356DC;
  margin-right: 2em;
}
.card__bottom-icon1:hover {
  visibility: hidden;
}
.card__bottom-icon1:hover + .card__bottom-icon2 {
  visibility: visible;
}
.card__bottom-icon2 {
  visibility: hidden;
}

.restaurant {
  background-color: rgb(237, 237, 237);
}

.section_title {
  font-size: 24px;
  font-weight: 700;
  padding-left: 1em;
  padding-top: 1em;
}

.card_contener {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 2em;
  gap: 1em;
}

.presentation {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em 0 2em 0;
  font-family: "Roboto";
}
.presentation__content1 {
  width: 70%;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 28.13px;
}
.presentation__content2 {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.functioning__title {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto";
  padding-top: 2em;
  padding-left: 1em;
  padding-bottom: 1em;
}

.functioning {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-bottom: 3em;
}
.functioning__item {
  display: flex;
  align-items: center;
  background-color: #F5EDFF;
  min-width: 85%;
  height: 60px;
  padding: 5px;
  border-radius: 25px;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1600ms;
}
.functioning__item:hover {
  background-color: #F5EDFF;
  transform: scale(0.5);
}
.functioning__item i {
  padding-left: 2em;
}
.functioning__item p {
  padding-left: 2em;
}
.functioning__icon-svg {
  position: relative;
  top: 0;
  left: -1em;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #353535;
  padding-left: 1em;
  padding-bottom: 2em;
  color: white;
}
footer a {
  color: white;
}
footer h2 {
  color: white;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  font-family: "Shrikhand";
  padding-top: 1em;
}

.footer__item {
  display: flex;
  align-items: center;
}
.footer__item i {
  padding-right: 1em;
}

@media screen and (min-width: 960px) {
  .localisation {
    height: 50px;
  }
  .localisation i {
    padding: 0%;
    width: 5%;
    background-color: #eaeaea;
  }
  .presentation {
    background-color: #f5edff;
  }
  .functioning {
    flex-direction: row;
    justify-content: space-around;
  }
  .functioning__item {
    min-width: 300px;
  }
  .card_contener {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .btn {
    background-color: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  }
  footer {
    flex-direction: row;
    padding-left: 10em;
  }
  footer h2 {
    position: relative;
    top: 5%;
    left: 80%;
  }
  .footer__item {
    padding-right: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
