@charset "UTF-8";
/*Liste des couleurs*/
/*Liste des polices d'écriture*/
body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Roboto";
}

p {
  margin: 0%;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
}

input {
  border: 0;
}
input:focus-visible {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
}

/*style de la police pour les textes*/
@keyframes anim_loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes anim_textloader {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
  50% {
    transform: rotate(180deg);
    animation-timing-function: linear;
  }
  100% {
    transform: rotate(360deg);
    animation-timing-function: linear;
  }
}
@keyframes translate_entrees {
  0% {
    transform: translate(-50px);
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
@keyframes translate_plats {
  0% {
    transform: translate(-50px);
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
@keyframes translate_desserts {
  0% {
    transform: translate(-50px);
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
@keyframes anim_itemplat {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-60px);
    opacity: 1;
  }
}
.contener__loader {
  width: 100%;
  height: 100vh;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  opacity: 0.7;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: anim_loader 1000ms 3000ms cubic-bezier(0.075, 0.82, 0.165, 1) both;
}
.contener__loader--text {
  background-color: lightpink;
  opacity: 0.7;
  font-family: "Shrikhand";
  font-size: large;
  color: rebeccapurple;
  border: 4mm ridge rebeccapurple;
  padding: 2em;
  border-radius: 50%;
  animation: anim_textloader 1500ms infinite both;
}

.contener {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  font-family: "Roboto";
  font-size: 16px;
  color: #000;
  min-width: 375px;
}

header {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.header__logo {
  padding-top: 1em;
  padding-bottom: 1em;
}
.header__logo img {
  width: 162px;
}

.form_localisation {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
}
.form_localisation i {
  width: 10%;
  padding: 1em;
  text-align: center;
}
.form_localisation #localisation {
  background-color: #eaeaea;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
}
.form_localisation #localisation::placeholder {
  color: rgb(53, 53, 53);
}

.presentation {
  background-color: #d2d2d2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em 0 2em 0;
  font-family: "Roboto";
}
.presentation__content1 {
  width: 70%;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 28.13px;
}
.presentation__content2 {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  font-family: "Roboto";
  width: 215px;
  height: 3em;
  border: none;
  border-radius: 25px;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.btn:active {
  color: #9356dc;
  background: white;
}

.functioning {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-bottom: 3em;
}
.functioning__title {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto";
  padding-top: 2em;
  padding-bottom: 1em;
  padding-left: 1em;
}
.functioning__contener {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1em;
}
.functioning__contener--item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(234, 233, 233);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  width: 80%;
  max-width: 90%;
  min-width: 70%;
  height: 60px;
  padding: 5px;
  border-radius: 25px;
}
.functioning__contener--item:active {
  background-color: rgb(245, 237, 255);
}
.functioning__contener--item i {
  padding-left: 2em;
}
.functioning__contener--item p {
  padding-left: 2em;
}

.icon-svg {
  position: relative;
  top: 0;
  left: -1em;
}

.card {
  width: 340px;
  height: 250px;
  background-color: white;
  border-radius: 20px;
}
.card__img {
  position: relative;
  width: 100%;
  height: 175px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card__img--photo {
  width: 100%;
  height: 170px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card__img--new {
  width: 80px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 250px;
  z-index: 2;
  background-color: #99e2d0;
  color: rgb(0, 135, 102);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  border-radius: 2px;
}
.card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__bottom-title {
  display: flex;
  flex-direction: column;
}
.card__bottom h2 {
  font-size: 18px;
  font-weight: 700;
  padding-top: 0.5em;
  font-family: "Roboto";
  padding-left: 1em;
}
.card__bottom h3 {
  font-size: 17px;
  font-weight: 300;
  font-family: "Roboto";
  padding-left: 1em;
}

.card__bottom-icon {
  margin-right: 1em;
  width: 22px;
  height: 22px;
  position: relative;
}
.card__bottom-icon::after {
  content: url(/public/img/icon_svg/heart_gradient.svg);
  opacity: 0;
  position: absolute;
  left: 0;
}
.card__bottom-icon:active::after {
  opacity: 1;
}

.restaurant {
  display: flex;
  min-width: 80%;
  flex-direction: column;
  align-items: center;
  padding: 1em 0 1em 0;
}
.restaurant__title {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  position: relative;
  right: 4.5em;
}

.card_contener {
  min-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  margin-top: 1em;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #353535;
  padding-left: 1em;
  padding-bottom: 2em;
  color: white;
}
footer a {
  color: white;
}
footer h2 {
  color: white;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  font-family: "Shrikhand";
  padding-top: 1em;
}

.footer__item {
  display: flex;
  align-items: center;
}
.footer__item i {
  padding-right: 1em;
}

.contener_principal {
  min-width: 375px;
  background-color: rgb(237, 237, 237);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.restaurants__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5em;
}
.restaurants__header--icon {
  max-width: 200px;
}
.restaurants__header--logo {
  width: 162px;
  height: 44px;
}

.hero {
  width: 375px;
  height: 275px;
}

.contener__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  top: -10em;
  background-color: #f7f7f7;
}
.menu__title {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.menu__title--title {
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
  font-family: "Shrikhand";
  line-height: 41px;
}
.menu__title--icon {
  width: 22px;
  height: 21px;
}

.menu__plats {
  min-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.menu__plats--item {
  display: flex;
  text-overflow: ellipsis;
  align-items: center;
  width: 80%;
  height: 70px;
  background: white;
  border-radius: 25px;
  padding: 5px;
}
.menu__plats--item_txt {
  display: flex;
  flex-direction: column;
}
.menu__plats--item h3 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto";
}
.menu__plats--item span {
  font-size: 15px;
  font-weight: 300;
  font-family: "Roboto";
}
.menu__plats--item::after {
  content: url(/public/img/icon_svg/encoche.svg);
  position: absolute;
  top: 0px;
  right: -60px;
  width: 100px;
  height: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(158, 227, 158);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.menu__plats--item:active::after {
  animation-name: anim_itemplat;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: 0;
  animation-direction: normal;
  animation-fill-mode: both;
}

.entrees {
  opacity: 0;
  animation-name: translate_entrees;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-delay: 0.1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.plats {
  opacity: 0;
  animation-name: translate_plats;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-delay: 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.desserts {
  opacity: 0;
  animation-name: translate_desserts;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  animation-delay: 2s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@media screen and (min-width: 1225px) {
  .localisation {
    height: 50px;
  }
  .localisation i {
    padding: 0%;
    width: 5%;
    background-color: #eaeaea;
  }
  .presentation {
    background-color: #e3e1e1;
  }
  .presentation__content1 {
    font-size: 40px;
    line-height: 46px;
  }
  .btn:hover {
    color: #9356dc;
    background: white;
  }
  .functioning__title {
    width: auto;
    position: relative;
    right: 20em;
  }
  .functioning__contener {
    flex-direction: row;
    max-width: 90%;
    min-width: 60%;
    width: 80%;
  }
  .functioning__contener--item {
    min-width: 30%;
    max-width: 40%;
  }
  .functioning__contener--item:hover {
    background-color: rgb(245, 237, 255);
  }
  .icon-svg {
    left: -1.5em;
  }
  .restaurant {
    background-color: #e3e1e1;
    position: relative;
    padding-left: 6em;
  }
  .restaurant__title {
    padding-left: 4.5em;
  }
  .card_contener {
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 6em;
  }
  .card__bottom-icon::after {
    opacity: 0;
    transition: all 200ms;
  }
  .card__bottom-icon:hover::after {
    opacity: 1;
  }
  footer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 115px;
    padding-left: 0%;
  }
  footer h2 {
    padding-top: 0%;
  }
  footer :nth-child(1) {
    order: 5;
  }
  /*Pour les pages restaurants*/
  .contener_principal {
    align-items: normal;
    position: relative;
  }
  .contener__menu {
    width: 100%;
  }
  .hero {
    width: 100vw;
    height: 1056px;
    position: absolute;
    z-index: 0;
  }
  .menu {
    height: 100%;
    max-width: 80%;
    padding-bottom: 3em;
    z-index: 2;
  }
  .menu__plats--item {
    text-overflow: "...";
    width: 80%;
    position: relative;
  }
  .menu__plats--item:hover::after {
    animation-name: anim_itemplat;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 1ms;
    animation-direction: normal;
    animation-fill-mode: both;
  }
  .btn {
    margin-top: 1em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1224px) {
  .functioning__contener {
    max-width: 80%;
    min-width: 50%;
    margin: auto;
    flex-wrap: wrap;
  }
  .functioning__contener--item {
    width: 70%;
    max-width: 80%;
    min-width: 50%;
  }
  footer {
    flex-direction: row;
    padding-top: 1em;
  }
  footer :nth-child(1) {
    order: 5;
  }
  footer h2 {
    padding-top: 0%;
  }
  /*Pour les pages restaurants*/
}

/*# sourceMappingURL=style.css.map */
