.btn {
  @include row_contener;
  @include style_txt;
  width: 215px;
  height: 3em;
  border: none;
  border-radius: 25px;
  background: $gradient;
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, 1, 0, 0);

  &:active {
    color: #9356dc;
    background: #ffff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    cursor: default;
  }
}