.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215px;
    height: 3em;
    border: none;
    border-radius: 25px;
    background-color: #FFFF;
    color: #9356DC;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transform: matrix(1, 0, 0, 1,0 ,0);
    font-family: $font-txt;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;



    &:hover {
        color: #FFFF;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        transform: matrix(1, 0, 0, 1, 0, 0);
        background: linear-gradient(200.64deg,#9356DC -5.2%, #FF79DA 110.74%);
    }
   
}