.card {
  width: 340px;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  &__img {
    width: 100%;
    height: 175px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    &--photo {
      width: 100%;
      height: 170px;
      position: relative;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    &--new1 {
      position: absolute;
      top: 80px;
      left: 435px;
      z-index: 2;
      background-color: #99e2d0;
    }
    &--new2 {
      position: absolute;
      top: 80px;
      right: 255px;
      z-index: 2;
      background-color: #99e2d0;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-title {
      display: flex;
      flex-direction: column;
    }
    & h2 {
      font-size: 18px;
      font-weight: 700;
      padding-top: 0.5em;
      font-family: $font-txt;
      padding-left: 1em;
    }

    & h3 {
      font-size: 17px;
      font-weight: 300;
      font-family: $font-txt;
      padding-left: 1em;
    }
  }
}

.card__bottom-icon {
  margin-right: 1em;
  width: 22px;
  height: 22px;
  position: relative;

  &::after {
    content: url(/public/img/svg/heart_gradient.svg);
    opacity: 0;
    position: absolute;
    left: 0;
  }
  &:active::after {
    opacity: 1;
  }
}
