.card {
    width: 340px;
    height: 250px;
    background-color: white;
    border-radius: 20px;

    &__img {
        width: 100%;
        height: 175px;
        object-fit: fill;
        border-radius: 20px 20px 0 0;
    }

    &__icon {
        color: $color-primary;
        margin-right: 2em;
        transform: scale(1);
        transition-property: transform;
        transition-duration: 300ms;

        &:hover {
            color: $color-primary;
            transform: scale(1.2);
            color: $color-secondary;

        }
    }

    &__bottom {
        @include row_contener;
        justify-content: space-between;

        &__title {
            @include colum_contener;
        }

        h2 {
            font-size: 18px;
            font-weight: 700;
            padding-top: 0.5em;
            font-family: $font-txt;
            padding-left: 1em;
        }

        h3 {
            font-size: 17px;
            font-weight: 300;
            font-family: $font-txt;
            padding-left: 1em;
        }
    }
}