.card {
    width: 340px;
    height: 250px;
    background-color: white;
    border-radius: 20px;

    &__img {
        width: 100%;
        height: 175px;
        object-fit: fill;
        border-radius: 20px 20px 0 0;
    }

  
    &__bottom {
        @include row_contener;
        justify-content: space-between;
                &-title {
            display: flex;
            flex-direction: column;
        }
        & h2 {
            font-size: 18px;
            font-weight: 700;
            padding-top: 0.5em;
            font-family: $font-txt;
            padding-left: 1em;
        }

        & h3 {
            font-size: 17px;
            font-weight: 300;
            font-family: $font-txt;
            padding-left: 1em;
        }
    }
}
.heart{
    margin-right: 2em;
    position: relative;
}

.heart::after{
        content: "";
        position: absolute;
        top: 16px;
        right: 0px;
        background-color: $color-primary;
        width: 100%;
        height: 100%;
        transition: all 300ms;   
    }
.heart:hover::after{
    top: 0px;
}


