.contener__loader {
  width: 100%;
  height: 100%;
  background: $gradient;
  opacity: 1;
  position: fixed;
  z-index: 10;
  @include row_contener;
  animation-name: anim_loader;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-delay: 3000ms;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;

  &--text {

    background-color: lightpink;
    font-family: $font-title;
    font-size: large;
    color: rebeccapurple;
    border: 4mm ridge rebeccapurple;
    padding: 2em;
    border-radius: 50%;
    animation-name: anim_textloader;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-delay: 500ms;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: both;

    &-title {
      font-weight: 700;

    }
  }

}