.functioning__title {
    font-size: 24px;
    font-weight: 700;
    font-family: $font-txt;
    padding-top: 3em;
    padding-left: 1em;
    padding-bottom: 1em;
}

.functioning {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 3em;

    &__item {
        display: flex;
        align-items: center;
        background-color: #F7F7F7;
        width: 320px;
        height: 50px;
        padding: 5px;
        border-radius: 25px;
        transform: scale(1);
        transition-property: transform;
        transition-duration: 1600ms;

        &:hover {
            background-color: #F5EDFF;
            transform: scale(0.5);
        }

        & i {
            padding-left: 2em;
        }

        & p {
            padding-left: 2em;

        }
    }

    &__icon-svg {
        position: relative;
        top: 0;
        left: -1em;
    }

}