.functioning {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-bottom: 3em;
  &__title {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    font-family: $font-txt;
    padding-top: 2em;
    padding-left: 1em;
    padding-bottom: 1em;
  }
  &__contener {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;

    &--item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: rgb(234 233 233);
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
      width: 80%;
      max-width: 90%;
      min-width: 70%;
      height: 60px;
      padding: 5px;
      border-radius: 25px;

      &:active {
        background-color: rgba(245, 237, 255, 1);
      }

      & i {
        padding-left: 2em;
      }

      & p {
        padding-left: 2em;
      }
    }
  }
}
.icon-svg {
  position: relative;
  top: 0;
  left: -1em;
}
