.restaurants {
    @include colum_contener;
    gap: 10px;
    width: 100%;
    background-color: lightgrey;
    padding-bottom: 25px;

}

.section_title {
    font-size: 24px;
    font-weight: 700;
    font-family: $font-txt;
}