.restaurant {
  display: flex;
  background-color: #f7f7f7;
  flex-direction: column;
  padding: 3em 0 3em 0;

  &__title {
    font-family: $font-txt;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    padding-left: 1em;

  }
}

.card_contener {

  display: flex;
  justify-content: space-around;
  gap: 1em;
  flex-wrap: wrap;
  margin-top: 1em;
}