//animation du loader//
@keyframes anim_loader {
  0% {
    transform: scale(1);
    opacity: 1;

  }

  50% {
    opacity: 0.60;
  }

  100% {
    transform: scale(0);
    opacity: 0.3;

  }
}

// animation du texte du loader//
@keyframes anim_textloader {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease;

  }



  100% {
    transform: rotate(360deg);
    animation-timing-function: ease;

  }
}

//animations pour faire apparaitre les differents items des pages menu//
@keyframes translate_entrees {
  0% {
    transform: translate(-50px);
  }



  100% {
    transform: translate(0px);
    opacity: 1;

  }

}

@keyframes translate_plats {
  0% {
    transform: translate(-50px);
  }



  100% {
    transform: translate(0px);
    opacity: 1;

  }

}

@keyframes translate_desserts {
  0% {
    transform: translate(-50px);
  }



  100% {
    transform: translate(0px);
    opacity: 1;

  }

}