//loader//
@keyframes anim_loader {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes anim_textloader {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }

  50% {
    transform: rotate(180deg);
    animation-timing-function: linear;
  }

  100% {
    transform: rotate(360deg);
    animation-timing-function: linear;
  }
}

//animations pour faire apparaitre les differents des pages menu//
@keyframes translate_entrees {
  0% {
    transform: translate(-50px);
  }



  100% {
    transform: translate(0px);
    opacity: 1;

  }

}

@keyframes translate_plats {
  0% {
    transform: translate(-50px);
  }



  100% {
    transform: translate(0px);
    opacity: 1;

  }

}

@keyframes translate_desserts {
  0% {
    transform: translate(-50px);
  }



  100% {
    transform: translate(0px);
    opacity: 1;

  }

}

//animations qui fait apparaitre l'encoche verte quand on selectionne un plat//
@keyframes anim_itemplat {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }

  100% {
    transform: translateX(-60px);
    opacity: 1;
  }
}