@mixin colum_contener {
    display: flex;
    flex-direction: column;
    align-items: center;

}

@mixin row_contener {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*style de la police pour les textes*/
@mixin style_txt {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    font-family: $font-txt;
}